<!-- Game categories buttons -->
<div class="row">
<div class="btn-group btn-toggle">
  <button ng-class="isFree ? 'btn-default' : 'btn-primary active'" ng-click="setIsFree(false)">Paid</button>
  <button ng-class="!isFree ? 'btn-default' : 'btn-primary active'" ng-click="setIsFree(true)">Free</button>
</div>
</div>

<div class="row">
 <div class="btn-group btn-toggle">
   <button ng-class="!isNew ? 'btn-default' : 'btn-primary active'" ng-click="setIsNew(true)">New <!--{{isFree}}--></button>
   <button ng-class="isNew ? 'btn-default' : 'btn-primary active'" ng-click="setIsNew(false)">Top  </button>
 </div>
 </div>

<div class="row">
  <div class="col-md-12">
      <button ng-repeat="(categoryName, categoryNumber) in gameCategories" ng-class="{'btn' : true, 'btn-primary' : categoryNumber === categorySelected}"  ng-click="setCategory(categoryNumber)">{{categoryName}}</button>
  </div>
</div>


<!-- Left sidebar games list -->

<div class="row">
  <div class="col-md-6">
    <p style="color: blue" id="list" ng-repeat="game in treasure" ng-click="gameList(game)">
    <img ng-src="{{game.icon}}" /> {{game.title}} </p>
</div>
<!-- Displays current selected game -->

  <div class="col-md-5" id = "selectedGame">
    <h3 id = "selectedGameTitle" class="text-center">{{gameSelected.title}}</h3>
      <a ng-href="{{gameSelected.url}}" target="_blank"><img id = "selectedGameIcon" ng-src="{{gameSelected.icon}}" class="img-responsive"/></a>
    <p>
      {{gameSelected.description}}
    </p>
  </div>
</div>
